#container {
    width : 1300px;
    --min-height : 1000px;
    margin : 0 auto;
}
/* 1. 헤더, 나브 높이 vh로 설정  => 관둠  */ 
/*  높이 픽셀로 고정  */
header {
    background-color: white;
    width : inherit;
    height: 100px;
    position : fixed;
    top: 0px;
}
    #header_layer1 {
        width : 30%;
        height: inherit;
        float : left;
    }
    #header_layer2 {
        width : 40%;
        height: inherit;
        float : left;
    }
        #mainlogo {
            margin: auto;
            display: block;
            width : 90px;
            height : 90px;
        }
    #header_layer3 {
        width : 30%;
        height: inherit;
        float : left;
        display : flex;
        justify-content : flex-end;
        
    }
        .member {
            border : 1px solid #ccc;
            width : 100px;
            height : 25px;
            color : #222;
            font-size : 0.9em;
            text-align : center;
            --justify-content : flex-end;
            float : left;
            font-family: 'IBM Plex Serif', serif;
        }
        .member2 {
            text-decoration: none;
            display: block;
            padding : 0px 1px;
        }
        .member2:link{
            color : #222;
        }
        .member2:visited{
            color : #222;
        }

nav { 
    background-color:white;
    width : inherit;
    height : 50px;
    border-bottom : 1px solid #ccc;
    font-size : 1.3em;
    position : fixed;
    top: 100px;
    
}
    #menu_ul{
        padding : 0;
        height : 100%;
        display:flex;
        align-items : center;
        justify-content: center;


    }
    .menu_li {
        list-style-type: none;
        float : left;
        width : 33%;
        text-align : center;
        display: block;
        font-family: 'IBM Plex Serif', serif;
        font-weight: bolder;
    }
    .menu {
        text-decoration: none;
    }
    .menu:link {
        color : #222;
    }
    .menu:visited {
        color : #222;
    }

body {
    font-family: 'Hahmlet', serif;
}

main {
    width : 90%;
    min-height : 70vh;
    margin : auto;
    margin-top: 150px;
    overflow: hidden ;
    /* overflow: 넣으니까 main내용이 푸터 위로 올라감 왜지?? */
}
    #main_layer1 {

            --height : 15%;
            display :flex;
            justify-content: flex-end;
            
        }
            .search-container  {
                --display :flex;
                --justify-content: center;
                margin-top : 50px;
                margin-right: 50px;
                float:left;
            }
            .search-box {
                display : flex;
                border : 1px solid #ccc;
                border-radius: 4px;
                --overflow : hidden;
            }
            .search-box input[type="text"]{
                flex-grow :1;
                padding : 10px;
                border :none;
            }
            .search-box button{
                padding : 11px 20px;
                background-color: gray;
                color : white;
                border:none;
                cursor : pointer;
                background-image: url(../images/search-removebg-preview.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
            .search-box button:active{
                padding : 11px 20px;
                background-color: gray;
                color : white;
                border:gray ;
                cursor : pointer;
                background-image: url(../images/search-removebg-preview.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            /* #dtail_srch { 
                border : none;
                background-color: #fff;
                cursor : pointer;
                
            } */


            #main_layer2 {
                width: 735px;
                margin: auto;
                display: block;
            } 
        
                .product-list{
                    --width: 735px;
                    --padding-top : 20px;
                    margin-left: auto;
                    margin-right: auto;
                    border-color:  #ccc;

                }

                    .product{
                        display: block;
                        width: 225px;

                        text-align: center;
                        text-decoration:none;
                        color: black;
                        float:left;
                        margin-left: 10px;
                        margin-right: 10px;
                        margin-bottom: 30px;
                        
                    }
                    .thumbnail{
                        border-radius: 10px;
                        border : 1px dotted #ccc;
                    }
                    

                    .product_name{
                        margin-top: 30px;
                        margin-bottom: 10px;
                        
                    }

                    .product_teacher {
                        margin-bottom: 10px;
                    }
                    
            
            


footer {
    background-color: #f4f4f4;
    height : 7vh;
    margin : 0 auto;
    display: block;
}



