<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CommonMapper">
	<resultMap type="MemberStd" id="sMemberResultMap">
		<id property="memberEmail"      column="MEMBER_EMAIL"/>
		<result property="position"     column="MEMBER_POSITION"/>
		<result property="memberName"   column="MEMBER_NAME"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone"  column="MEMBER_PHONE"/>
		<result property="memberPw"     column="MEMBER_PW"/>
		<result property="proPicFilename"   column="PROPIC_FILENAME"/>
		<result property="proPicFilepath"   column="PROPIC_FILEPATH"/>
		<result property="proPicFilelength"   column="PROPIC_FILELENGTH"/>
		<result property="place"        column="PLACE"/>
		<result property="lesson"       column="LESSON"/>
		<result property="lessonType"   column="LESSON_TYPE"/>
		<result property="tGender"      column="TEACHER_GENDER"/>
		<result property="myLevel"      column="MY_LEVEL"/>
		<result property="freeWords"    column="FREE_WORDS"/>
		<result property="memberDate"   column="MEMBER_DATE"/>
		<result property="updateDate"   column="UPDATE_DATE"/>
		<result property="memberYn"       column="MEMBER_YN"/>
	</resultMap>
	
	<!-- 로그인 -->
	<select id="selectStdMemberLogin" resultMap="sMemberResultMap">
		SELECT * FROM SMEMBER_TBL WHERE MEMBER_EMAIL = #{memberEmail} AND MEMBER_PW = #{memberPw} AND MEMBER_POSITION = #{position} AND MEMBER_YN = 'Y' 
	</select>
	
	
	
	
<!-- ********************************************************************************** -->	


	<resultMap type="MemberTch" id="tMemberResultMap">
		<id property="memberEmail"      column="MEMBER_EMAIL"/>
		<result property="position"     column="MEMBER_POSITION"/>
		<result property="memberName"   column="MEMBER_NAME"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone"  column="MEMBER_PHONE"/>
		<result property="memberPw"     column="MEMBER_PW"/>
		<result property="proPicFilename"   column="PROPIC_FILENAME"/>
		<result property="proPicFilepath"   column="PROPIC_FILEPATH"/>
		<result property="proPicFilelength"   column="PROPIC_FILELENGTH"/>
		<result property="lessonFee"        column="LESSONFEE"/>
		<result property="payment"        column="PAYMENT"/>
		<result property="contactTime"        column="CONTACTTIME"/>
		<result property="place"        column="PLACE"/>
		<result property="lesson"       column="LESSON"/>
		<result property="lessonType"   column="LESSON_TYPE"/>
		<result property="history"    column="HISTORY"/>
		<result property="target"    column="TARGET"/>
		<result property="freeWords"    column="FREE_WORDS"/>
		<result property="memberDate"   column="MEMBER_DATE"/>
		<result property="updateDate"   column="UPDATE_DATE"/>
		<result property="memberYn"       column="MEMBER_YN"/>
	</resultMap>
	
	
	<select id="selectTchMemberLogin" resultMap="tMemberResultMap">
		SELECT * FROM TMEMBER_TBL WHERE MEMBER_EMAIL = #{memberEmail} AND MEMBER_PW = #{memberPw} AND MEMBER_POSITION = #{position} AND MEMBER_YN = 'Y' 
	</select>
	
	
</mapper>