<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="SMemberMapper">
	<resultMap type="MemberStd" id="sMemberResultMap">
		<id property="memberEmail"            column="MEMBER_EMAIL"/>
		<result property="position"           column="MEMBER_POSITION"/>
		<result property="memberName"         column="MEMBER_NAME"/>
		<result property="memberGender"       column="MEMBER_GENDER"/>
		<result property="memberPhone"        column="MEMBER_PHONE"/>
		<result property="memberPw"           column="MEMBER_PW"/>
		<result property="proPicFilename"     column="PROPIC_FILENAME"/>
		<result property="proPicFilepath"     column="PROPIC_FILEPATH"/>
		<result property="proPicFilelength"   column="PROPIC_FILELENGTH"/>
		<result property="place"              column="PLACE"/>
		<result property="lesson"             column="LESSON"/>
		<result property="lessonType"         column="LESSON_TYPE"/>
		<result property="tGender"            column="TEACHER_GENDER"/>
		<result property="myLevel"            column="MY_LEVEL"/>
		<result property="freeWords"          column="FREE_WORDS"/>
		<result property="memberDate"         column="MEMBER_DATE"/>
		<result property="updateDate"         column="UPDATE_DATE"/>
		<result property="memberYn"           column="MEMBER_YN"/>
	</resultMap>


	<insert id="insertMemberStd">
		INSERT INTO SMEMBER_TBL VALUES (#{position} ,#{memberName},#{memberGender},#{memberPhone},#{memberEmail},#{memberPw},#{proPicFilename},#{proPicFilepath},#{proPicFilelength},#{place},#{lesson},#{lessonType},#{tGender},#{myLevel},#{freeWords},DEFAULT,DEFAULT,DEFAULT)
	</insert>
	
	<update id="modifyStdMember">
		UPDATE SMEMBER_TBL SET MEMBER_PHONE = #{memberPhone}, PROPIC_FILENAME = #{proPicFilename}, PROPIC_FILEPATH = #{proPicFilepath}, PROPIC_FILELENGTH = #{proPicFilelength}, PLACE = #{place}, LESSON = #{lesson}, LESSON_TYPE = #{lessonType}, TEACHER_GENDER = #{tGender}, MY_LEVEL = #{myLevel}, FREE_WORDS = #{freeWords}, UPDATE_DATE = DEFAULT WHERE MEMBER_EMAIL = #{memberEmail} AND MEMBER_PW = #{memberPw} AND MEMBER_YN = 'Y'
	</update>

	<select id="showOneStdById" resultMap="sMemberResultMap">
		SELECT * FROM SMEMBER_TBL WHERE MEMBER_EMAIL = #{memberEmail} AND MEMBER_YN = 'Y'
	</select>
	
	<update id="outServiceStdMember">
		UPDATE SMEMBER_TBL SET MEMBER_YN = 'N' WHERE MEMBER_EMAIL = #{memberEmail} 
	</update>
	

</mapper>