/* 헤더,나브폰트 */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');  */
/*본문폰트*/
/* @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap'); */

html, body{
    height : 100%;
    /* 910px */
} 

body {
    display: flex;
    flex-direction: column;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:link {
    color : #222;
}
a:visited {
    color : #222;
}

#container {
    width : 1300px;
    margin : 0 auto;
}



main {
    width : 80%;
    margin : 0 auto;
    font-family: 'Hahmlet', serif;
    --height : 660px;
    --height : calc(100vh - 250px);
    flex: 1
    /* 660px; */
}

    #whole_layer{
        display : flex;
        height: 600px;
    }

    aside{
        --background-color: #ccc;
        width : 20%;
    }

        #aside_layer1 {
            --background-color: pink;
            height : 10vh;
        }

            #menu_container {
                --background-color: #CCC;
                width : 200px;
                height : 200px;
                display : flex;
                align-items : center;
                flex-direction : column;
                margin : 0 auto;
            }

            .menuBtn {
                color : #FFF;
                background-color: #222;
                width : 200px;
                height : 40px;
                margin: 0;
                text-align: center;
                box-sizing: border-box;
            }
            
            .active {
                color : #222;
                background-color: #FFF;
                width : 200px;
                height : 40px;
                margin: 0;
                border-style : inset;
                border : 1px solid #ccc;
            }
            
            #menu_free {
                color : #222;
                background-color: #FFF;
                width : 200px;
                height : 40px;
                margin: 0;
                border-style : inset;
                border : 1px solid #ccc;
            }
    #main_layer1 {
        --background-color: antiquewhite;
        width : 100%;
        padding : 0 50px;
        --margin-bottom: 10px;
    }
    
        #board_name {
            height : 10vh;
            padding : 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center
    
        }
        #board_content{
            border : 1px dotted gray;
            border-radius : 20px;
            width : 100%;
            height : auto;
            text-align: center;
            margin-top: 10px auto;
            padding-bottom: 20px;
        }

        input, textarea {
            outline: none;
            padding-left: 5px;
        }
        input[name=freeSubject] {
            width : 90%;
            height: 30px;
            margin: 50px 20px 10px;
            
        }
        textarea {
            width : 90%;
            height: 300px;
            resize : none;
            padding: 5px;
            font-size: 1.5em;
            text-align: left;
            
        }

        #file_wrap {
            --background-color: antiquewhite;
            display: flex;
            width : 100%;
            padding : 0 50px;
            justify-content : space-between ;
        }
            input[name=freeWriter]{
                width : 100px;
            }
        #btn_wrap {
            display: flex;
            justify-content : flex-end ;
            padding : 0 50px;
            margin-top: 5px;

        }

        input[type=submit] {
            color : #FFF;
            background-color: #222;
            border-radius: 3px;
            width : 80px;
            height:23px;
            text-align: center;
            margin-right: 5px;
        }

        input[type=button]{
            color : #FFF;
            background-color: #222;
            border-radius: 3px;
            width : 80px;
            height:23px;
            text-align: center;
        }
        

