/* 헤더,나브폰트 */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');  */
/*본문폰트*/
/* @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap'); */

html, body{
    height : 100%;
    
    /* 910px */
} 

body {
    display: flex;
    flex-direction: column;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:link {
    color : #222;
}
a:visited {
    color : #222;
}

#container {
    width : 1300px;
    margin : 0 auto;
}



main {
    width : 80%;
    margin : 0 auto;
    font-family: 'Hahmlet', serif;
    --height : 660px;
    --height : calc(100vh - 250px);
    flex: 1;
    /* 660px; */
    
}

    #whole_layer{
        display : flex;
        height: auto;
    }

    aside{
        --background-color: #ccc;
        width : 20%;
        height: auto;
    }

        #aside_layer1 {
            --background-color: pink;
            height : 10vh;
        }

            #menu_container {
                --background-color: #CCC;
                width : 200px;
                height : 200px;
                display : flex;
                align-items : center;
                flex-direction : column;
                margin : 0 auto;
            }

            .menuBtn {
                color : #FFF;
                background-color: #222;
                width : 200px;
                height : 40px;
                margin: 0;
                text-align: center;
                box-sizing: border-box;
            }
            
            .active {
                color : #222;
                background-color: #FFF;
                width : 200px;
                height : 40px;
                margin: 0;
                border-style : inset;
                border : 1px solid #ccc;
            }
            
            #menu_notice {
                color : #222;
                background-color: #FFF;
                width : 200px;
                height : 40px;
                margin: 0;
                border-style : inset;
                border : 1px solid #ccc;
            }


    #main_layer1 {
        --background-color: antiquewhite;
        width : 100%;
        padding : 0 50px;
        --margin-bottom: 10px;
        
    }
    
        #board_name {
            height : 10vh;
            padding : 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center
    
        }
        #board_content{
            border : 1px dotted gray;
            border-radius : 20px;
            width : 100%;
            height : auto;
            text-align: center;
            margin: 10px auto;
            padding-bottom: 20px;
            --z-index : 1;
            
        }
        #content_wrap {
            width : 100%;
            height : 80%;
            display: flex;
            
            flex-direction: column;
            align-items: center;
        }
        
        #noticeSubject {
            width : 90%;
            height: 30px;
            border : 1px solid black;
            margin: 50px 20px 10px;
            padding-left: 10px;
            text-align: left;  
            border-radius : 3px;    
        }
        #noticeview {
            width : 90%;
            height: 30px;
            --border : 1px solid black;
            margin: 0 20px 10px;
            padding-left: 10px;
            text-align: right;
        }
        #noticeContent {
            width : 90%;
            min-height:300px;
            height: auto;
            border : 1px solid black;
            padding: 15px;
            margin: 0 20px 10px;
            font-size: 1.5em;
            text-align: left;
            border-radius : 3px;
            
        }
        
        #noticeContent>img{
        	max-width : 630px;
        	max-height : 270px;
        }

        #file_wrap {
            --background-color: antiquewhite;
            display: flex;
            width : 100%;
            padding : 0 50px;
        }

        #file_wrap>div:first-child {
            display: flex;
            justify-content : flex-start ;
            width : 50%;
        }

        #file_wrap>div:last-child {
            display: flex;
            justify-content : flex-end ;
            width : 50%;
        } 
            input[name=noticeWriter]{
                width : 100px;
                padding-left: 5px;
            }

  
  		#btn_wrap {
            margin: 10px 0;
            display: flex;
			width : 100%;
            padding : 0 50px;
        } 

        #btn_wrap>div:first-child {
            display: flex;
            justify-content : flex-start ;
            width : 50%;
        }

        #btn_wrap>div:last-child {
            display: flex;
            justify-content : flex-end ;
            width : 50%;
        } 
        

        #returnListBtn, #modifybtn {
            color : #FFF;
            background-color: #222;
            border-radius: 3px;
            width : 80px;
            height:23px;
            text-align: center;
            margin-right: 5px;
        }

        #deleteBtn, button[name=insertReplyBtn] {
            color : #FFF;
            background-color: #222;
            border-radius: 3px;
            width : 80px;
            height:23px;
            text-align: center;
            --margin-right: 5px;
        }

        
        
/*  ************************************** */
        #comment_layer{
            --background-color: #ccc;
            
            --width : 90%;
            width : 665px;
            height: auto;
            --min-height: 295px;
            margin: 10px auto;
            
        }

/*         #comment_open { */
/*             width : 663px; */
/*             height : 25px; */
/*             border : 0px solid black; */
/*             background-color: #ccc; */
/*             margin-bottom : 5px; */
/*         } */

        #viewCommentBtn {
        	--border : 1px solid black;
            width : 665px;
            height : 35px;
            border : none;
            background-color: #ccc;
            --background-size: cover;
            margin-bottom : 5px;
        }
        #viewCommentBtn:active {
            width : 665px;
            height : 35px;
            border : none;
            border-style : inset;
            background-color: #ccc;
            --background-size: cover;
            margin-bottom : 5px;
        }
        
        
        #comment_wrap{
        	border : 1px solid #ccc;
        	padding-top : 15px;
        	
        	
        }

        #ReplyBox{
            width : 595px;
            --height : 120px;
            border-radius : 5px;
            --height : auto;
            margin : 10px auto 0;
        }
        #reply_head {
            border-top-left-radius : 5px;
            border-top-right-radius : 5px;
            background-color : #00284f;
            color : #fff;
            height:30px;
            display: flex;
            text-align: left;
            
        }
            #reply_noWriter{
                width : 50%;
                display : flex;
                justify-content: flex-start;
                align-items: center;
                padding-left : 10px;
            }
            #reply_nDate{
                width : 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right : 10px;
            }

        #reply_content {
            height:auto;
            border : 1px solid #ccc;
            text-align: left;
            padding : 5px;
            word-break : break-all;
        }

        #reply_foot {
            height:30px;
            display : flex;
            padding : 5px;
            border-bottom-left-radius : 5px;
            border-bottom-right-radius : 5px;
            color : #fff;
            background-color: #f0f0f0;
            border : 1px solid #ccc;
            border-top: none;

        }
            #re_replyBtn{
                width : 50%;
                display : flex;
                justify-content: flex-start;
                align-items: center;
            }
            #reply_edit_btn{
                width : 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            button[name=replymodifyBtn]{
                color : #FFF;
                background-color: #222;
                border-radius: 3px;
                width : 50px;
                height:23px;
                text-align: center;
                margin-right: 5px;
            }
            button[name=replydeleteBtn]{
                color : #FFF;
                background-color: #222;
                border-radius: 3px;
                width : 50px;
                height:23px;
                text-align: center;
                margin-right: 5px;
            }


        #insertReplyBox{
            width : 595px;
            --height : 120px;
            border-radius : 5px;
            --height : auto;
            margin : 30px auto 10px;
        }

        #insert_reply_head{
            border-top-left-radius : 5px;
            border-top-right-radius : 5px;
            background-color : #00284f;
            color : #fff;
            height:30px;
            text-align: left;
            padding-left : 5px;
        }

        .bi-arrow-return-right{
            --font-size : 1.2em;
            --margine-right:5px;
            color : #fff;
        }
        #insert_reply_content{
            height:70px;
            border : 1px solid #ccc;
            padding : 5px;
            font-size: medium;
        }
        textarea[name=noticeReplyContent] {
            --background-color : green;
            width : 100%;
            height : 100%;
            outline : none;
            resize:none;
            border : none;
            padding : 3px;
        }

        #insert_reply_foot {
            height:30px;
            display : flex;
            padding : 5px;
            border-bottom-left-radius : 5px;
            border-bottom-right-radius : 5px;
            --color : #fff;
            border : 1px solid #ccc;
            border-top: none;
        }
            #reply_attachFile{
                width : 50%;
                display : flex;
                justify-content: flex-start;
                align-items: center;
            }
            
                
                
            #reply_writer{
                width : 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

            }
            
                input[name=noticeReplyWriter]{
                    width : 100px;
                    height : 22px;
                    outline : none;
                    --border: none;
                    margin-right: 5px;
                }



        .replyModifyForm {
            width : 593px;
            --height : 120px;
            border-radius : 5px;
            --height : auto;
            margin : 10px auto;
        }    
        #modify_reply_head{
            border-top-left-radius : 5px;
            border-top-right-radius : 5px;
            background-color : #135394;
            color : #fff;
            height:30px;
            text-align: left;
            padding-left : 5px;
        }

        .bi-arrow-return-right{
            --font-size : 1.2em;
            --margine-right:5px;
            color : #fff;
        }
        #modify_reply_content{
            height:70px;
            border : 1px solid #ccc;
            padding : 5px;
            font-size: medium;
        }
        #noticeReplyContent {
            --background-color : green;
            width : 100%;
            height : 100%;
            outline : none;
            resize:none;
            border : none;
            padding : 3px;
        }

        #modify_reply_foot {
            height:30px;
            display : flex;
            padding : 5px;
            border-bottom-left-radius : 5px;
            border-bottom-right-radius : 5px;
            --color : #fff;
            border : 1px solid #ccc;
            border-top: none;
        }
            #modify_reply_attachFile{
                width : 50%;
                display : flex;
                justify-content: flex-start;
                align-items: center;
            }
            
                
                
            #modify_reply_edit{
                width : 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

            }
            
                #modifyReplyBtn {
                    color : #FFF;
                    background-color: #222;
                    border-radius: 3px;
                    width : 80px;
                    height:22px;
                    text-align: center;
                }      
#topScroll {
    border : none;
    background-color: white;;
}  

